torch
torchvision
torchaudio
tensorflow
seaborn
pandas
cifar10
cifar10_web
mnist
python_mnist
numpy
scikit_learn
matplotlib
pillow
opencv-python
ipykernel
jupyterlab
notebook
scikit-learn
scikit-learn-extra
glob2
scipy
